@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
   /* height:100%;*/
}
p{
    text-align: justify;
}
body {
    background-image: linear-gradient(to right,#DAFDBA,#45C4B0);
}
main{
    background-color: white;
    border-radius: 10px;
    width:600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #29776bb4;
}
h1 {
    color: #157bad;
    text-align: center;
    text-shadow: 1px 1px 0px #02334ea6;
}
h2 {
color: #13678A;
}